<form role="form">
	<div class="modal-header" ng-if="new">
		<h4 class="modal-title">New Category</h4>
	</div>
	<div class="modal-header" ng-if="!new">
		<h4 class="modal-title">Edit Category: {{category.name}}</h4>
	</div>
<div class="modal-body">
	<div class="form-group" ng-class="hasError('name')">
		<label for="categoryName" class="control-label">Category Name *</label>
		<input type="text" class="form-control" id="categoryName" placeholder="Enter category name" ng-model="category.name" ng-disabled="isdisabled()" required>
	</div>
	<div class="form-group" ng-class="hasError('starttime')">
		<label for="categoryStarttime" class="control-label">Start time *</label>
		<input type="time" class="form-control" placeholder="Text input" ng-model="category.starttime">
	</div>
	<div class="form-group" ng-class="hasError('endtime')">
		<label for="categoryEndtime" class="control-label">End time *</label>
		<input type="time" class="form-control" placeholder="Text input" ng-model="category.endtime" >
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" >Close</button>
	<button type="button" class="btn btn-primary" ng-disabled="isdisabled()" ng-click="ok(category)" >{{ saveButton }}</button>
</div>
</form>