<div ng-controller="CategoriesController">
	<div class="row">
		<div class="col-md-6">
			<h4>Categories ({{categories.length}}) <em>Not avisable to change</em></h4>
		</div>
		<div class="col-md-6 text-right form-inline">
			<input class="input-lg form-control" type="text" placeholder="Search" ng-model="searchText">
			<button type="button" class="btn btn-primary btn-lg" ng-click="open()"><span class="glyphicon glyphicon-plus"></span> Add Category</button> 
			<button type="button" class="btn btn-danger btn-lg" ng-if="hasSelected" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
				   		<th><input type="checkbox" ng-change="select('all')" ng-model="selectall" ></th>
				   		<th ng-click="predicate = 'id'; reverse=!reverse">ID</th>
				   		<th ng-click="predicate = 'name'; reverse=!reverse">Name</th>
				   		<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="categoryitem in categories | orderBy:predicate:reverse | filter:searchText" ng-class="{warning:categoryitem.selected}">
						<td width="20">
							<input type="checkbox" ng-change="select()" ng-model="categoryitem.selected">
						</td>
				   		<td width="20">
				   			{{categoryitem.id}}
				   		</td>
				   		<td>
				   			<strong>{{categoryitem.name}}</strong><br>
				   			{{categoryitem.starttime | dateToISO | date : 'h:mm a'}} - {{categoryitem.endtime | date : 'h:mm a'}}
				   		</td>
				   		<td width="110">
				   			<button type="button" class="btn btn-default" ng-click="edit(categoryitem.id)" title="Edit {{categoryitem.name}}">Edit</button>
				   			<button type="button" class="btn btn-danger" ng-click="delete(categoryitem.id)" title="Delete {{categoryitem.name}}"><span class="glyphicon glyphicon-trash"></span></button>
				   		</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>