<form role="form">
	<div class="modal-header" ng-if="new">
		<h4 class="modal-title">New Location</h4>
	</div>
	<div class="modal-header" ng-if="!new">
		<h4 class="modal-title">Edit Location: {{newlocation.name}}</h4>
	</div>
<div class="modal-body">
	<div class="form-group" ng-class="hasError('name')">
		<label for="locationName" class="control-label">Location Name *</label>
		<input type="text" class="form-control" id="locationName" placeholder="Enter location name" ng-model="newlocation.name" ng-disabled="isdisabled()" required>
	</div>
	<div class="form-group" ng-class="hasError('description')">
		<label for="locationDescription" class="control-label">Location Description *</label>
		<textarea class="form-control" rows="3" id="locationDescription" ng-model="newlocation.description" ng-disabled="isdisabled()" required></textarea>
	</div>
	<div class="form-group" ng-class="hasError('accesskey')">
		<label for="locationAccessKey" class="control-label">Location Access Key *</label>
		<input type="text" class="form-control" id="locationAccessKey" placeholder="Enter location access key" ng-model="newlocation.accesskey" ng-disabled="isdisabled()" required>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" >Close</button>
	<button type="button" class="btn btn-primary" ng-disabled="isdisabled()" ng-click="ok(newlocation)" >{{ saveButton }}</button>
</div>
</form>