<div ng-controller="LocationsController">
	<div class="row">
		<div class="col-md-6">
			<h4>Locations ({{locations.length}})</h4>
		</div>
		<div class="col-md-6 text-right form-inline">
			<input class="input-lg form-control" type="text" placeholder="Search" ng-model="searchText">
			<button type="button" class="btn btn-primary btn-lg" ng-click="open()"><span class="glyphicon glyphicon-plus"></span> Add Location</button> 
			<button type="button" class="btn btn-danger btn-lg" ng-if="hasSelected" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
				   		<th><input type="checkbox" ng-change="select('all')" ng-model="selectall" ></th>
				   		<th ng-click="predicate = 'id'; reverse=!reverse">ID</th>
				   		<th ng-click="predicate = 'name'; reverse=!reverse">Location</th>
				   		<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="locationitem in locations | orderBy:predicate:reverse | filter:searchText" ng-class="{warning:locationitem.selected}">
						<td width="20">
							<input type="checkbox" ng-change="select()" ng-model="locationitem.selected">
						</td>
				   		<td width="20">
				   			{{locationitem.id}}
				   		</td>
				   		<td>
				   			<strong>{{locationitem.name}}</strong> <em>{{ locationitem.accesskey }}</em><br>
				   			{{locationitem.description}}
				   		</td>
				   		<td width="110">
				   			<button type="button" class="btn btn-default" ng-click="edit(locationitem.id)" title="Edit {{locationitem.name}}">Edit</button>
				   			<button type="button" class="btn btn-danger" ng-click="delete(locationitem.id)" title="Delete {{locationitem.name}}"><span class="glyphicon glyphicon-trash"></span></button>
				   		</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>