<div ng-controller="MenuController">
	<div class="row">
		<div class="col-md-6">
			<h4>Menu ({{menu.length}})</h4>
		</div>
		<div class="col-md-6 text-right form-inline">
			<input class="input-lg form-control" type="text" placeholder="Search" ng-model="searchText">
			<button type="button" class="btn btn-primary btn-lg" ng-click="open()"><span class="glyphicon glyphicon-plus"></span> Add Menu</button> 
			<button type="button" class="btn btn-danger btn-lg" ng-if="hasSelected" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
				   		<th><input type="checkbox" ng-change="select('all')" ng-model="selectall" ></th>
				   		<th ng-click="predicate = 'id'; reverse=!reverse">ID</th>
				   		<th ng-click="predicate = 'name'; reverse=!reverse">Menu</th>
				   		<th></th>
				   		<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="menuitem in menu | orderBy:predicate:reverse | filter:searchText" ng-class="{warning:menuitem.selected}">
						<td width="20">
							<input type="checkbox" ng-change="select()" ng-model="menuitem.selected">
						</td>
				   		<td width="20">
				   			{{menuitem.id}}
				   		</td>
				   		<td width="70">
				   			<img ng-src="{{baseurl}}/images/menuimages/{{menuitem.id}}.jpg" alt="" width="70" class="img-rounded">
				   		</td>
				   		<td>
				   			<strong>{{menuitem.name}}</strong> <em>Php {{menuitem.price | number:2 }}</em><br>
				   			{{menuitem.description}}
				   		</td>
				   		<td width="110">
				   			<button type="button" class="btn btn-default" ng-click="edit(menuitem.id)" title="Edit {{menuitem.name}}">Edit</button>
				   			<button type="button" class="btn btn-danger" ng-click="delete(menuitem.id)" title="Delete {{menuitem.name}}"><span class="glyphicon glyphicon-trash"></span></button>
				   		</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>