<form role="form">
	<div class="modal-header" ng-if="new">
		<h4 class="modal-title">New Menu</h4>
	</div>
	<div class="modal-header" ng-if="!new">
		<h4 class="modal-title">Edit Menu: {{menu.name}}</h4>
	</div>
<div class="modal-body">
	<div class="form-group" ng-class="hasError('name')">
		<label for="menuName" class="control-label">Menu Name *</label>
		<input type="text" class="form-control" id="menuName" placeholder="Enter menu name" ng-model="menu.name" ng-disabled="isdisabled()" required>
	</div>
	<div class="form-group" ng-class="hasError('price')">
		<label for="menuPrice" class="control-label">Menu Price *</label>
		<div class="input-group col-xs-4">
			<span class="input-group-addon">Php</span>
			<input type="text" class="form-control" id="menuPrice" placeholder="Enter menu price" ng-model="menu.price" ng-disabled="isdisabled()" required>
		</div>
	</div>
	<div class="form-group" ng-class="hasError('description')">
		<label for="menuDescription" class="control-label">Menu Description *</label>
		<textarea class="form-control" rows="3" id="menuDescription" ng-model="menu.description" ng-disabled="isdisabled()" required></textarea>
	</div>
	<div class="form-group">
		<label for="menuImage">Menu Image</label>
		<div ng-if="!new">
			<img ng-src="{{baseurl}}images/menuimages/{{menu.id}}.jpg" alt="" width="177" class="img-rounded" ng-class="{replaced:hasItem}" style="margin-bottom: 10px;">
		</div>
		<input ng-file-select type="file" ng-disabled="isdisabled()" />
		<div class="help-block">
			<div ng-if="!new">
				<li>Choosing a file replaces the current one</li>
			</div>
				<li>
					Image dimensions must be 600px by 338px, must not exceed ~~Mb,<br>
					<em>spare the resize and focus :)</em>
				</li>
		</div>
		<div ng-repeat="item in uploader.queue">
	        <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
	        <div ng-show="controller.isImage(item.file)">
	            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
	        </div>
	        <button ng-click="clear()">Remove</button>
	    </div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" >Close</button>
	<button type="button" class="btn btn-primary" ng-disabled="isdisabled()" ng-click="ok(menu)" >{{ saveButton }}</button>
</div>
</form>