<div class="navbar-header">
  <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
    ng-click="menuCollapsed = ! menuCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-brand">
    <small>
      <a href="#">
      	<b>Telstra Rate What You Ate</b>
      </a>
    </small>
  </div>
</div>
<div class="collapse navbar-collapse" collapse="menuCollapsed" ng-controller="NavbarCtrl">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('/')}">
      <a href="#">
        <i class="fa fa-home"></i>
        Home
      </a>
    </li>
    <li ng-class="{active: isActive('/menu')}">
      <a href="#menu">
        <i class="fa fa-info-circle"></i>
        Menu
      </a>
    </li>
    <li ng-class="{active: isActive('/locations')}">
      <a href="#locations">
        <i class="fa fa-info-circle"></i>
        Locations
      </a>
    </li>
    <li ng-class="{active: isActive('/categories')}">
      <a href="#categories">
        <i class="fa fa-info-circle"></i>
        Categories
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-info-circle"></i>
        Schedule
      </a>
    </li>
  </ul>
</div>