<!DOCTYPE html>
<html ng-app="ratewhatyouateApp">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=.6">

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href="{{ asset('stylesheets/ratewhatyouate.css') }}" rel="stylesheet">

  </head>
  <body>
    <div class="container" ng-controller="NavbarCtrl">
      <div class="navbar navbar-default" nav-bar>
      </div>
    </div>

    <div class="container" ng-view>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
        </div>
      </div>
    </footer>

    <script>
      var baseurl = '{{ app.request.getSchemeAndHttpHost() }}{{asset('')}}';
      {% if app.environment == 'prod' %}
        var apiurl = '{{ app.request.getSchemeAndHttpHost() }}{{asset('')}}';
      {% else  %}
        var apiurl = '{{ app.request.getSchemeAndHttpHost() }}{{asset('')}}app_dev.php/';
      {% endif %}
    </script>
    

    <script src="//localhost:6969/livereload.js"></script>
    <script src="{{ asset('build/libraries.min.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>

  </body>
</html>